/venv/
/Test/
utils/settings.yaml
*.sublime-project
*.todo
*/__init__.py
/.idea/
*sublime-workspace
reference/mol.*
wizard.saved
.vscode
__pycache__
bstates
istates
*.log
west.h5
reference/fop_ref.xyz
reference/selection_string.txt
*.pyc
traj_segs
seg_logs
binbounds.txt
reference/0*
binbounds_old.txt
job_logs/slurm.*
slurm_nodelist.txt
wizard.saved.old
west_old.h5
tmp_orig_to_reg.sh
.DS_Store
