/venv/
/Test/
utils/settings.yaml
*.sublime-project
*.todo
*/__init__.py
/.idea/
*sublime-workspace
reference/mol.*
wizard.saved
.vscode
__pycache__
bstates
istates
*.log
west.h5
reference/fop_ref.xyz
reference/selection_string.txt
*.pyc
traj_segs
seg_logs
binbounds.txt
